%footer
  .dsi-panel.white
    .container
      .row
        .col-12
          %li FAQ
          %li CONTACT
          %li TWITTER
          %li MAILING LIST
          partner images
        .col-12
          %li &copy; Harlen 2017
          %li Legal Disclaimer
          %li Terms & Privacy
