%footer
  .dsi-panel.white
    .container
      .row
        .col-xs-12
          %ul.list-inline
            %li FAQ
            %li CONTACT
            %li TWITTER
            %li MAILING LIST
        .col-xs-12
          %ul.list-inline
            %li
              &copy; Harlen
              = Date.today.year
            %li Legal Disclaimer
            %li Terms & Privacy
