.dsi-panel.full-img(style="background-image: url(#{image_url('nyc.jpg')})")
  .container
    .dsi-redbox
      .history
        a history of
      .dmusic
        dominican music
      .us
        in the united states
.dsi-panel.white
  .container
    %section#about
      %h1 about us
      %p
        lorem ipsum

