#discover.brand
  .container
    .col-xs-12.col-md-6
      =image_tag 'structural/brand_image.jpg'
    .col-xs-12.col-md-6
      .pullquote
        Because what you use to carry your daily everything should be as extraordinary as you are.
      %p 
        Aenean nulla magna, semper in tellus sed, placerat maximus felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin semper iaculis rhoncus. Sed cursus consequat odio nec maximus. Proin accumsan risus nulla, sed vehicula est vehicula ac.
      %p 
        iNulla semper metus ut ligula accumsan semper efficitur id ligula. Pellentesque vitae orci mauris. Donec sodales, lorem eget dignissim volutpat, velit purus porta nisl, a rhoncus metus diam vel nunc.
      %p.bordered
        Donec a sollicitudin odio. Curabitur volutpat in tellus non sagittis. Pellentesque vitae orci mauris.
      %p 
        Fusce eu finibus turpis, nec euismod dolor. Nulla semper metus ut ligula accumsan semper efficitur id ligula. Pellentesque vitae orci mauris.
