#discover.creation
  .container-fluid.video
    .container 
      .embed-responsive.embed-responsive-16by9
        %iframe{:src => "//player.vimeo.com/video/183276851"}

  .container-fluid.white
    .container
      .col-xs-12.col-md-6.slidetext
        %h3 QUALITY CRAFTSMANSHIP
        %p With the exception of wild American alligator, our materials are sourced exclusively from Italy.  Our leather is produced through an 18-step process at a tannery in Arzignano, a district known for its leather heritage and expertise.  We use only Alcantara® lining and Raccagni zippers.  Our signature zipper pull represents a multi-city journey: first hot-stamped from brass in Florence by a metal arts firm that has collaborated with leading fashion houses for nearly four decades; then, over days, polished and finished in palladium in a family-owned atelier just north of Milan. 
        %p These elements are meticulously handcrafted into our designs by artisans in a valigeria in Italy that has created some of the world’s finest leather goods for over 50 years. 
      .col-xs-12.col-md-6
        =image_tag 'structural/label.jpg'

  .container-fluid.full-img
    =image_tag 'structural/zipper_2_1_1.jpg'

  .container-fluid.white
    .container
      .col-xs-12.col-md-6
        =image_tag 'structural/sew_zipper.jpg'
      .col-xs-12.col-md-6.slidetext
        %h3 MADE IN ITALY
        %p Duis dignissim maximus lacinia. Ut dapibus turpis ac dictum commodo. Duis velit orci, scelerisque in ornare non, finibus eu lacus. Proin posuere sit amet velit ultricies pretium. Aliquam sed quam neque. Fusce faucibus, purus in sodales aliquet, nisl risus vestibulum nibh, sed accumsan quam urna in ante. Morbi nec congue neque. Integer vitae accumsan nisl, euismod consectetur risus. Fusce eu risus ut diam tincidunt sollicitudin.Cras aliquet ante sed odio euismod, eget efficitur arcu semper. Pellentesque sodales sodales bibendum. Vestibulum fringilla et risus sed dignissim. In viverra, augue sit amet pharetra lobortis, arcu elit vulputate erat, ultrices dignissim lacus justo et nisl. Quisque ornare cursus odio, sit amet porttitor nulla accumsan ac. 
        %p Aliquam quis neque elementum, hendrerit magna at, ornare quam. Sed risus odio, vehicula quis ornare consequat, rutrum vel diam.
