.dsi-panel.full-img(style="background-image: url(#{image_url('nyc.jpg')})")
  .container.home-header
    .dsi-redbox
      .history
        a history of
      .dmusic
        dominican music
      .us
        in the united states
.dsi-panel.bb
  .container
    %section#overview
      %h1 a history of dominican music in the u.s.
      intro text
      .row
        .col-12.col-sm-6.col-md-3
          %h2 header
          lorem ipsum
        .col-12.col-sm-6.col-md-3
          %h2 header
          lorem ipsum
        .col-12.col-sm-6.col-md-3
          %h2 header
          lorem ipsum
        .col-12.col-sm-6.col-md-3
          %h2 header
          lorem ipsum
.dsi-panel.white
  .container
    %section#stories
      .row
        .col-12.col-sm-6.col-md-3
          %h1.bb stories
          %p lorem ipsum
        .col-12.col-sm-6.col-md-3
          %p lorem ipsum
        .col-12.col-sm-6.col-md-3
          %p lorem ipsum
        .col-12.col-sm-6.col-md-3
          %p lorem ipsum
.dsi-panel.full-img(style="background-image: url(#{image_url('map.jpg')})")
  %section#map
    .container
      .row
        .col-12.col-sm-6.col-md-3
          %h1.bb interactive map
          %p
            lorem ipsum
            lorem ipsum
            lorem ipsum
            lorem ipsum
            lorem ipsum
.dsi-panel.half-blue
  .container
    %section#timeline
      %h1.orange historic timelines
      %p
        lorem ipsum
.dsi-panel.bb
  %section#images
    .container
      .row
        .col-12.col-sm-6
          %h1 featured images from the archive
          %p
            lorem ipsum
        .col-12.col-sm-6
          %h1 featured images from the archive
          %p
            lorem ipsum
.dsi-panel.full-img(style="background-image: url(#{image_url('nyc_blur.jpg')})")
  %section#news
    .container
      .row
        .col-12.col-sm-6
          %h1 news & events
          %p
            lorem ipsum
        .col-12.col-sm-6
          %h1 news & events
          %p
            lorem ipsum

