#home-carousel.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#home-carousel"}
    %li{"data-slide-to" => "1", "data-target" => "#home-carousel"}
    %li{"data-slide-to" => "2", "data-target" => "#home-carousel"}
  .carousel-inner
    .item.active
      =image_tag 'h_ss1.jpg'
      .carousel-caption
    .item
      =image_tag 'h_ss2.jpg'
      .carousel-caption
    .item
      =image_tag 'h_ss3.jpg'
      .carousel-caption
  %a.left.carousel-control{"data-slide" => "prev", :href => "#home-carousel"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", :href => "#home-carousel"}
    %span.glyphicon.glyphicon-chevron-right

