#discover.philanthropy
  .container-fluid.grey
    %h1.title HARLEN PHILANTHROPY
    %h3 Every Harlen Moves Opportunity Forward 
    .container.phil-header
      .col-xs-12.images
        =image_tag 'structural/r2r.jpg'
      .col-xs-12.text
        %p Every piece in the HARLEN collection moves opportunity forward. In tribute to the transformative power of education — and to the countless girls who simply want the chance to learn — when you own a HARLEN, we support the education and empowerment of one girl for one year.  Through a partnership with Room to Read, our commitment provides tuition and fees, books and uniforms, life skills training and mentoring, and a bike to get to school.  
        %p Education is an end in itself.  But on a global level, the impact of girls' education is profound.  
  .container
    .row.room-to-read
      .col-xs-12.col-md-3
        =image_tag 'structural/room_to_read.png'
      .col-xs-12.col-md-9.text
        %p Room to Read focuses on literacy and gender equality in education.  Working in collaboration with local communities, partner organizations, and governments, Room to Read develops literacy skills and a habit of reading among primary school children and ensures that girls have the skills and support they need to complete their secondary education.  Since 2000, Room to Read has impacted the lives of nearly ten million children.  And for nine consecutive years, it has received Charity Navigator's four-star rating — the highest available rank — which places Room to Read in the top 1% of all non-profit organizations.
    .row.image-grid
      .col-xs-12.feature
        =image_tag 'structural/phil_1.jpg'
      .col-xs-6.col-md-4
        =image_tag 'structural/phil_2.jpg'
      .col-xs-6.col-md-4
        =image_tag 'structural/phil_3.jpg'
      .col-xs-6.col-md-4
        =image_tag 'structural/phil_4.jpg'
      .col-xs-6.col-md-4
        =image_tag 'structural/phil_5.jpg'
      .col-xs-6.col-md-4
        =image_tag 'structural/phil_6.jpg'
      .col-xs-6.col-md-4
        =image_tag 'structural/phil_7.jpg'

