/* PRIMARY BRANDING  */
$dsi_baby_blue: #1faeea;
$dsi_blue_green: #015579;
$dsi_grey: #3c4144;
$dsi_grey_trans: rgba(32,40,42,.95);
$dsi_lt_blue: #cfe7f3;
$dsi_orange: #f12001;
$dsi_red: #db0d0d;
$dsi_red_trans: rgba(207,1,1,0.9);
$dsi_white: #fff; 

/* TEXT */

