#auth {
  padding: 30px 0;
  font: $worksans;
  form {
    max-width: 500px;
    @include centerobj;
    padding: 30px;
  }
  .btn.submit {
    padding: 8px;
    @include centerobj;
    margin-top: 20px;
    text-transform: uppercase;
  }
}
