@mixin centerobj {
	display: block;
	margin: 0 auto;
}

@mixin fade_transition {
  transition: color 0.4s ease;
}

@mixin bw_bg {
	background: $light_grey;
	background: -moz-linear-gradient(left, $light_grey 0%, $light_grey 50%, $black 51%, $black 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, $light_grey), color-stop(50%, $light_grey), color-stop(51%, $black), color-stop(100%, $black));
	background: -webkit-linear-gradient(left, $light_grey 0%, $light_grey 50%, $black 51%, $black 100%);
	background: -o-linear-gradient(left, $light_grey 0%, $light_grey 50%, $black 51%, $black 100%);
	background: -ms-linear-gradient(left, $light_grey 0%, $light_grey 50%, $black 51%, $black 100%);
	background: linear-gradient(to right, $light_grey 0%, $light_grey 50%, $black 51%, $black 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$light_grey, endColorstr=$black, GradientType=1 );
}

