/* PRIMARY BRANDING  */

a {
  text-decoration: none;
  transition: color 0.3s ease;
  &:hover, &:focus, &:active {
    text-decoration: none;
  }
}

h1 {
  font-size: 1.2em;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}
