footer {
  border-top: 1px solid $dark_grey;
  background: $black;
  padding: 30px 0;
  text-align: center;
  color: $light_grey;
  a {
    color: $white;
  }
  .terms {
    font-size: .9em;
    padding-top: 10px;
  }
}
