nav.navbar {
	background: transparent;
	border: 0;
	border-bottom: 1px solid $dark_grey;
	.container {
		.dropdown-toggle {
			&:after {
				border: 0;
			}
		}
	}
	.container > button {
		border: 1px solid $white;
	}
}
/* actual dropdown animation */
.dropdown {
  background: $black;
  border: 0;
	.dropdown-menu {
    background: $black;
		max-height: 0;
		display: block;
		overflow: hidden;
		opacity: 0;
	}

	&.open .dropdown-menu {
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		max-height: 200px;
		opacity: 1;
	}
}
