nav.navbar {
  font-family: $worksans;
  background: $black;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid $dark_grey;
  margin: 0;
  overflow: hidden;
  ul.nav, ul.dropdown-menu {
    li  {
      a {
        color: $light_grey;
        &.active {
        }
      }
      &:hover, &:active, &:focus {
        background-color: $black;
      }
      &.active a {
        background: $black!important;
        color: $red!important;
        &:hover {
          background: $black;
        }
      }
    }
  }
  .container {
    .dropdown-toggle {
      &:after {
        border: 0;
      }
    }
    .navbar-collapse {
      overflow: hidden;
    }
  }
  .navbar-toggle {
    float: left;
    border: 0;
    &:hover, &:active, &:focus {
      background-color: $black;
    }
    .icon-bar {
      background-color: $light_grey;
    }
  }
  .user-menu {
    padding: 0 10px;
    li {
      display: inline-block;
    }
  }
}

.dropdown {
  border: 0;
  .dropdown-menu {
    font-size: 16px;
    border: 0;
    max-height: 0;
    display: block;
    overflow: hidden;
    background: $black;
    opacity: 0;
    li {
      margin: 10px 0;
    }
  }

  &.open .dropdown-menu {
    border: 0;
    background: $black;
    transition: all 0.3s;
    max-height: 200px;
    opacity: 1;
  }
}
